body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Full height */
  min-height: 100vh;
}

.nav-bottom {
  margin-bottom: 6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #############  Custom scroll bar and custom bootstrap ############# */

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar-thumb {
  background: rgba(134, 206, 245, 0.8);
  border-radius: 4px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 8px;
}

/* For Firefox */
::-moz-scrollbar-thumb {
  background: rgba(134, 206, 245, 0.8);
  border-radius: 4px;
}

/* #############  Custom Color ############# */

.light-blue {
  background-color: #e3f2fd;
}

/* #############  Insurance Landing page effects ############# */
.slide-from-left {
  animation: slideLeft 1s forwards;
}

.slide-from-right {
  animation: slideRight 1s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.img {
  height: auto;
  max-width: 100%;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

/* Login page */

.content {
  padding: 7rem 0;
}

.quote-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
